{% extends 'base.html' %}
{% block title %}
    Following - {{userid}}
{% endblock title %}
{% block body %}
<div>
    <h1 class="text-center font-extrabold text-3xl">Following - {{userid}}</h1>
    <div class="w-screen flex items-center justify-center mt-6">
        <ul> 
            {% for items in following %}
               <a href="{{url_for('viewProfileUser',userid = items)}}"> <button class=" bg-gray-800 text-gray-100 rounded-full px-4">
                {{items}}
               </button>
            </a>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock body %}